h1 {
  text-align: center
}
h2 {
  text-decoration: underline;
}
.container {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 30%);
}
.chatz {
  border: 1px solid green;
  max-width: 250px;
  max-height: 250px;
  padding-bottom: 20px;
  padding-left: 10px;
  /* border-radius: 20px; */
}
.chatLog {

}
.chatList {
  grid-row-start: 2;
}
button {
  margin-top: 10px;
}
