header::after {
  content: "";
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right:0 ;
  background-image: url('https://i.imgur.com/li71nSp.jpg');
  position: absolute;
  background-size: cover;
  z-index: -1;
}
h1 {
  text-align: center
}
h2 {
  text-decoration: underline;
}
.container {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 30%);
}
.chatz {
  border: 1px solid green;
  max-width: 250px;
  max-height: 250px;
  padding-bottom: 20px;
  padding-left: 10px;
  /* border-radius: 20px; */
}
.chatLog {
grid-row-start:1
}
.chatList {
  grid-row-start: 3;
}
button {
  margin-top: 10px;
}
