body::after {
  content: "";
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right:0 ;
  background-image: url('https://i.imgur.com/li71nSp.jpg');
  position: absolute;
  background-size: cover;
  z-index: -1;
}
h1 {
  color: #001f3f;
  text-shadow: 2px 2px #4e709d;
  font-size: 76px;
  text-align: center;
  grid-column-start: 2;
  font-family: 'The Girl Next Door', cursive;
}
h2 {
  text-decoration: underline;
  font-size: 36px;
  grid-row-start: 3;
  text-align: center;
  color: black;
  font-family: 'The Girl Next Door', cursive;
}
.container {
  display: grid;
  /* grid-auto-flow: column; */
  width: 600px;
  height: 600px;
  grid-gap: 15px;
  grid-template-columns: repeat(6, 200px);
  grid-template-columns: 200px, 200px, 200px;
  grid-auto-flow: column;
  /* grid-template-rows: repeat(auto-fit, 100px);
  grid-template-columns: repeat(auto-fit, 30%); */
}
.chatz {
  background-color: #0d63a5;
  border: 1px solid #ffd717;
  color: #fffcea;
  max-width: 250px;
  max-height: 250px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 10px;
  font-family: 'Just Me Again Down Here';
  font-size: 26px;
}
.chatLog {
grid-row-start:1;
padding-bottom: 5px;
margin-left: 15px;
}
.chatList {
  grid-row-start: 4;
  grid-row-end: 7;
}
button {
  margin-top: 10px;
  border-radius: 4px;
  height: 24px;
  color: white;
  background-color: black;
}
.formInput {
  padding-left: 10px;
  grid-row-start: 7;
  grid-column-start: 1;
}
input {
  border-radius: 5px;
  border: 1px solid black;
  background: rgba(0,0,0,0.4);
  color: white;
}
#name, #feed {
  color: white;
  padding: 4px;
}
